<!DOCTYPE html>
<html>
<head>
  <title>Blogamos</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav>
    <h3>Blogamos</h3>
    <div class="clickable">
      <ul>
        <li><%= link_to 'New Post', new_post_path %></li>
      </ul>
    </div>
  </nav>
  <div class="all-content">
    <%= yield %>
  </div>
</body>
</html>
